body {
  margin: 0;
  overflow: hidden;
}

.youtubeCorner {
  position: fixed;
  width: 300px;
  height: 200px;
  z-index: 9999;
}

#topLeft {
  top: 0px;
  left: 0px;
}

#topRight {
  top: 0px;
  right: 1650px;
}

#bottomLeft {
  bottom: 875px;
  left: 0px;
}

#bottomRight {
  bottom: 875px;
  right: 1650px;
}